*{
	margin: 0px auto;
	padding: 0px auto;
}
#usernav{
	height: 75px;
	padding: 0px 100px;
	line-height: 75px;
	background-color: darkblue;
}
nav{
	height: 75px;
	padding: 0px 100px;
	line-height: 75px;
	background-color: darkblue;
}

nav ul{
	float: right;
	word-spacing: 10px;
}
nav ul li{
	display: inline-block;
	list-style: none;
}
.page{
	float: left;
}
.posts{
	border: 5px solid red;
	background-color: floralwhite;
}
.latest_posts{
	background-color: floralwhite;
}
.news_head{
	color: darkblue;
	font-size: 25px;
	font-style: italic;
}
.pagination{
	list-style: none;
	display: inline-block;
	border: 2px solid black;
}
.picture{
	float: left;
	margin-left: 0px;
	height: 70px;
	width: 70px;
}
.heading{
	float: left;
	color: black;
	font-size: 2.5em;
	font-style: italic;
	font-weight: bold;
	font-family: sans-serif;
}
h3{
	float: right;
	line-height: 80px;
	display: inline-block;

}
.side{
	font-size: 1.5em;
	color: black;
	font-style: italic;
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
}
.main{
	display: flex;
	justify-content: center;
	margin-top: 250px;
}
.input{
	height: 40px;
	width: 750px;
	font-size: 1.5em;
	margin-left: 20px;
}
.inputimage{
	height: 40px;
	width: 750px;
	font-size: 30px;
	margin-left: 20px;
}
.inputtext{
	font-style: bold;
	font-size: 30px;
	margin-left: 20px;
}
.button{
	background-color: darkblue;
	padding: 16px 32px;
	margin: 4px 2px;
	color: white;
	margin-left: 450px;
	border-radius: 10px;
}
.search{
	background-color: darkblue;
	padding: 16px 32px;
	color: white;
	border-radius: 10px;
}
.footer{
	height: 75px;
	padding: 0px 100px;
	line-height: 75px;
	background-color: darkgrey;
	text-align: center;
	font-size: 1.5em;
	position: absolute;
	margin-bottom: 0px;
	bottom: 0;
	width: 100%;
}
.success{
	background-color: green;
	margin: 0 auto;
	color: white;
}
.danger{
	color:white;
	background-color:red;
	text-align: center;
	border: 2px solid black;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 400px;
	margin-right: 400px;
}
a{
	color: whitesmoke;
	text-decoration: none;
}
.dashboardfont{
	font-size: 2em;
	font-style: italic;
}
.wrap {
	width: 100%;
}
.floatleft {
	background-color: blue;
    float:left; 
    height: 100% auto;
    width: 25%;
    position: fixed;
   	font-size: 1.5em;
    font-style: italic;
    text-decoration: none;
    margin-top: 138px;
}
.floatright
{
	margin-top: 20px;
	padding-top: 20px;
	float: right;
    width: 75%;
    height: 100% auto;
    font-size: 1.5em;
    font-style: italic;
    color: darkblue;
}
.breaking{
	color: red;
	font-size: 30px;
}
.wrap_1 {
	width: 100%;
}
.floatleft1{
	background-color: blue;
    float:left; 
    height: 100% auto;
    width: 20%;
   	font-size: 1.5em;
    font-style: italic;
    text-decoration: none;
    margin-top: 150px;
}
.floatcenter{
	padding-top: 20px;
	float: left;
    width: 60%;
    height: 100% auto;
    font-size: 1.5em;
    font-style: italic;
    color: darkblue;
}
.floatright_1{
	margin-top: 135px;
	padding-top: 20px;
	float: right;
    width: 20%;
    height: 100% auto;
    font-size: 1.5em;
    font-style: italic;
    color: darkblue;
}
.button1{
	background-color: darkblue;
	padding: 16px 32px;
	margin: 4px 2px;
	color: white;
	margin-left: 0px;
	border-radius: 10px;
}
table{
	border: 2px solid blue;
	text-align: center;
	border-radius: 10px;
	margin-left: 0px;
	font-size: 20pt;
}
th{
	border: 2px solid blue;
	text-align: center;
	margin-left: 0px;
}
td{
	border: 2px solid blue;
	text-align: center;
	margin-left: 0px;
}
.button2{
	background-color: green;
	padding: 16px 32px;
	margin: 4px 2px;
	color: white;
	margin-left: 0px;
	border-radius: 10px;
}
.button3{
	background-color: red;
	padding: 16px 32px;
	margin: 4px 2px;
	color: white;
	margin-left: 0px;
	border-radius: 10px;
}
